.loader-spinner,
.loader-spinner:after {
  border-radius: 50%;
  width: 10em;
  height: 10em;
}
.loader-spinner {
  margin: 60px auto;
  font-size: 5px;
  position: relative;
  text-indent: -9999em;
  border-top: 1em solid rgba(255, 255, 255, 0.2);
  border-right: 1em solid rgba(255, 255, 255, 0.2);
  border-bottom: 1em solid rgba(255, 255, 255, 0.2);
  border-left: 1em solid #9acbd1;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation: load8 0.5s infinite linear;
  animation: load8 0.5s infinite linear;
}
@-webkit-keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

body {
  font-family: "Roboto", sans-serif;
}

.chat-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.chat-header {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #9acbd1;
  width: 100%;
  height: 100px;
  font-weight: 100;
  font-size: 1.2em;
}

.chat-header-wrapper {
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.chat-header__logo {
  font-size: 2.2em;
}

.chat-body {
  margin-top: 2em;
  width: 60%;
  flex-direction: column;
  align-items: center;
}

.chat-body-messages__item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  max-width: 40%;
  height: 55px;
  border: 1em solid white;
  background-color: #9acbd1;
  padding: 1em;
  font-size: 1em;
  font-weight: 100;
}

.chat-body-messages__item .chat-item-middle {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-left: 1em;
  padding-right: 1em;
}

.chat-body-messages__item .chat-item-right {
}

.chat-body-messages__item-avatar {
  width: 55px;
  height: 55px;
}

.chat-body-input {
  width: 100%;
  padding: 1em;
}

.chat-body-input input {
  width: 80%;
}
